<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szdq.tm.severorder.mapper.SysLogDao">
    <delete id="deleteLog" parameterType="java.lang.Integer">
        delete from sys_logs where id = #{id};
    </delete>
</mapper>
